body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}
.center {
    text-align: center;
}
.text-small {
    font-size: 100%;
}
.bold {
    font-weight: bold;
}
.img-medium {
    height: 150px;
}
p{
    color:green;
}
h1{
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    color: green;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    }
    